<div class="body-absolute">
    <mdb-card class="absolute-card">
        <mdb-card-body>
            <!-- <mdb-card-title>
            <h4>Panel title</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
            content.</mdb-card-text>
          <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div> -->
            <div class="row">
                <div class="col-9 absolute-left d-flex align-items-center" id="change-color">
                    <div class="view-more mr-2 d-flex justify-content-center align-items-center">
                        <mdb-icon fas icon="plus"></mdb-icon>
                    </div>

                    <mdb-card class="body-absolute-left">
                        <mdb-card-body>
                            <div class="name">
                                <div>NGUYEN HOANG THIEN VU</div>
                                <div>Software Engineer & UI/UX Expert</div>
                            </div>
                            <p></p>
                            <div class="all">
                                <div>
                                    <mdb-icon fas icon="envelope"></mdb-icon> VuNHT96@gmail.com
                                </div>
                                <div>
                                    <mdb-icon fas icon="globe"></mdb-icon> yourpersonalwebsite.com
                                </div>
                                <div>
                                    <mdb-icon fab icon="skype"></mdb-icon> vu.nguyenhoangthien
                                </div>
                                <div>
                                    <mdb-icon fas icon="phone"></mdb-icon> +84 947274321
                                </div>
                                <div>
                                    <mdb-icon fas icon="map-marker"></mdb-icon> LampStreet 34/3, London, UK
                                </div>
                            </div>

                            <div class="btn-group mt-3">

                                <div class="facebook  mr-2 d-flex justify-content-center align-items-center">
                                    <mdb-icon fab icon="facebook-square"></mdb-icon>
                                </div>

                                <div class="twitter mr-2 d-flex justify-content-center align-items-center">
                                    <mdb-icon fab icon="twitter"></mdb-icon>
                                </div>

                                <div class="google d-flex justify-content-center align-items-center">
                                    <mdb-icon fab icon="google-plus-g"></mdb-icon>
                                </div>

                            </div>

                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-3 absolute-right d-flex align-items-center">
                    <div class="img-dd">

                    </div>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>