.body-skill {
  width: 100%;
  height: 500px;
  .header {
    font-size: 30px;
    .icon-header {
      font-size: 40px;
      color: #ff5722;
    }
    .skill {
      font-weight: 500;
    }
  }
  .sub-body-skill {
    width: 70%;
    height: 75%;
    background: #06a763;
    color: white;
    text-align: center;
    .row {
      margin: 30px;
      .progress-bar {
        background: #ff5722;
      }
    }
    // .pro {
    //     color: white;
    // }
  }
}
