<section id="skills">
<div class="body-skill d-flex justify-content-center align-items-center flex-column">
        <div class="header d-flex justify-content-center flex-row">
                <mdb-icon class="icon-header mr-2" fab icon="mix"></mdb-icon>
                <div class="skill">SKILLS</div>
            </div>

    <div class="sub-body-skill">

        <div class="row">
            <div class="col-4 pro wow slideInLeft">
                <h2>Professional</h2>
                <div class="d-flex flex-row justify-content-between">
                    <div>HTML</div>
                    <div>25%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>CSS3</div>
                    <div>50%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>Angular > 2</div>
                    <div>85%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>JavaScript</div>
                    <div>35%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-4 per wow slideInUp">
                <h2>Personal</h2>
                <div class="d-flex flex-row justify-content-between">
                    <div>Communication</div>
                    <div>25%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>Teamwork</div>
                    <div>50%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>Creativity</div>
                    <div>85%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>Dedication</div>
                    <div>35%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-4 sof wow slideInRight">
                <h2>Software</h2>
                <div class="d-flex flex-row justify-content-between">
                    <div>VS Code</div>
                    <div>25%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>DEV Console</div>
                    <div>50%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div>Mongo DB</div>
                    <div>85%</div>
                </div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <!-- <div class="d-flex flex-row justify-content-between">
                    <div>JavaScript</div>
                    <div>35%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div> -->
            </div>
        </div>

    </div>
</div>
</section>