<section id="interest">
<div class="body-interest d-flex justify-content-center align-items-center flex-column mb-5">
    <div class="header d-flex justify-content-center flex-row">
        <mdb-icon class="icon-header mr-2" fas icon="heart"></mdb-icon>
        <div class="skill">INTEREST</div>
    </div>
    <div class="sub-body-interest">
        <div class="header-body">
                First of all I love music, country music is my favorite. Love watching football, movies and playing games with my buddies. I spend quite a lot of time in traveling and photography, these keeps me fresh for working environment. I also spend time volunteering at the Red Cross in London, UK each month.
        </div>
        <div class="bottom-body">
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center flex-column wow slideInLeft">
                        <mdb-icon fas icon="music"></mdb-icon>
                        <div>MUSIC</div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center flex-column wow slideInLeft" style="color: #06a763">
                        <mdb-icon fas icon="futbol"></mdb-icon>
                        <div>FOOTBALL</div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center flex-column wow slideInRight">
                        <mdb-icon fas icon="gamepad"></mdb-icon>
                        <div>GAME</div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center flex-column wow slideInRight" style="color: #06a763">
                        <mdb-icon fas icon="plane-departure"></mdb-icon>
                        <div>TRAVELING</div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>