<div class="color-bg">
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
         <span class="lines line-1"></span>
         <span class="lines line-2"></span>
         <span class="lines line-3"></span>
       </label>
     
        <a (click)="changeColor('#06a763', '#ff5722')" class="menu-item green"></a>
        <a class="menu-item green"></a>
        <a class="menu-item lightblue"></a>
        <a (click)="changeColor('#C49CDE', '#FC913A')" class="menu-item purple"></a>
        <a (click)="changeColor('#FC913A', '#06a763')" class="menu-item orange"></a>
        <a (click)="changeColor('#FE4365', '#06a763')" class="menu-item red"></a>
     </nav>
</div>