<section id="education">
<div id="content">
    <div class="header d-flex justify-content-center flex-row">
        <mdb-icon class="icon-header mr-2" fas icon="address-book"></mdb-icon>
        <div class="edu">EDUCATION</div>
    </div>

    <ul class="timeline">
        <li class="event wow slideInRight" data-date="65Million B.C.">
            <h3>Dinosaurs Roamed the Earth</h3>
            <p>RAWWWWWWRRR 🐢🦂</p>
        </li>
        <li class="event wow slideInLeft" data-date="2005">
            <h3>Creative Component Launched</h3>
            <p>"We can be all things to all people!" 📣</p>
        </li>
        <li class="event wow slideInRight" data-date="2009">
            <h3>Squareflair was Born</h3>
            <p></p>
            <p>"We can be all things to Squarespace users!" 📣</p>
        </li>
        <li class="event wow slideInLeft" data-date="November 15, 2018">
            <h3 class="animated fadeInUp">Squareflair Today</h3>
            <p>"We design and build from scratch!" 📣</p>
            <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the Squarespace
                Developer platform.</p>
            <p>Did you know that all of our pixels are hand-forged from the rarest of subpixels grown and harvested in
                the <em>Nerd Forest</em>? <br>🤜💥🤛</p>

            <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused
                    service!</strong></p>
        </li>
    </ul>
</div>
</section>